@media (min-width: 769px){
    .container {
        width: 100%;
        max-width: 1190px;
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;

        &:before, &:after {
            display: table;
            line-height: 0;
            content: "";
        }

        &:after {
            clear: both;
        }
    }

    [class*="span"] {
        float: left;
        margin-bottom: 17px;
        @include box_sizing;
        padding-left: 2%;
    }

    .span1 {
        width: 25%;
    }

    .span2 {
        width: 50%;
    }

    .span3 {
        width: 75%;
    }

    .span4 {
        width: 100%;
    }

    .span5 {
        width: 33.33333333333333%;
    }

    .row {
        float: left;
        margin-bottom: 17px;
    }
    img {
        width: 100%;
    }  
}



@media (max-width: 768px){
  /*
  Fluid Widths
  */
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;

        &:before, &:after {
            display: table;
            line-height: 0;
            content: "";
        }

        &:after {
            clear: both;
        }
    }

    [class*="span"] {
        float: left;
        margin-bottom: 17px;
        width: 100%;
        @include box_sizing;
    }

    .row {
        float: left;
        margin-bottom: 17px;
    }

    img {
        width: 100%;
    }  
}



