@mixin transition($property: all, $duration: 0.3s, $easing: ease) {
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
    -o-transition: $property $duration $easing;
    -ms-transition: $property $duration $easing;
    transition: $property $duration $easing;
}

@mixin rounded-corner($radius: 5px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	-ms-box-sizing: $type;
	box-sizing: $type;
}

@mixin box-shadow($shadow: 0 1px 1px #ddd) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin background-size($type: cover) {
	-webkit-background-size: $type;
    -moz-background-size: $type;
    -o-background-size: $type;
    background-size: $type;
}