@mixin transition($property: all, $duration: 0.5s, $easing: ease) {
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
    -o-transition: $property $duration $easing;
    -ms-transition: $property $duration $easing;
    transition: $property $duration $easing;
}

@mixin rounded_corner($radius: 5px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}
