/* === COLOR === */
$white: #fff;

$grey: #444;
$grey-lightest: lighten($grey, 70%);
$grey-lighter: lighten($grey, 50%);
$grey-light: lighten($grey, 25%);

$green: #84a931;
$green-lightest: lighten($green, 75%);
$green-lighter: lighten($green, 50%);
$green-light: lighten($green, 25%);

$green-darkest: darken($green, 40%);
$green-darker: darken($green, 30%);
$green-dark: darken($green, 15%);


/* === TYPOGRAPHY === */
@font-face {
	font-family: picklefont;
	src: url('../font/icomoon.ttf'),
	     url('../font/icomoon.eot'); /* IE9 */
}

$san-serif: "source-sans-pro",sans-serif;
$serif: "adelle",serif;
$pickle-font: "picklefont",serif;

 
$small: 13px;
$medium: 18px;
$large: 22px;
$logo: 45px;
$logo-small: 30px;
