/* === COLOR === */
$grey: #444;
$light_grey: lighten($grey, 70%);
$pickle_green: #84a931;
$dark_pickle_green: #44700a;


/* === TYPOGRAPHY === */
$san_serif: "source-sans-pro",sans-serif;
$serif: "adelle",serif;
 
$small: 14px;
$medium: 18px;
$large: 22px;
