@import "reset";
@import "variables";
@import "mixins";
@import "grid";

body {
	font-family: $san-serif;
	font-size: $medium;
	line-height: 150%;
	color: $grey;
}

h1,
h2,
h3 {
	line-height: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: $serif;
}

h1 {
	font-size: $large;
	text-transform: uppercase;
	letter-spacing: 4px;
	word-spacing: 4px;
	margin-top: 10px;
}

h2 {
	font-size: $medium;
}

h3 {
	font-size: $small;
}

p {
	margin-bottom: 10px;
	color: $grey-light;
}

a {
	text-align: center;
	color: $green;
	text-decoration: none;
	@include transition();
	
	&:hover {
		color: $green-light;
	}

}

footer {
	padding: 80px 30px;
	text-align: center;
	
	a {
		text-align: center;
		font-family: $pickle-font;
		font-size: $logo;
		color: $grey-light;
		text-decoration: none;
		@include transition();
		
		&:hover {
			color: $grey-lighter;
		}
	}

	.copyright {
		color: $grey-lighter;
	}
}

section {
    padding: 60px 0px;
    
    &.top {
        background: url('../img/hero.jpg') no-repeat center center; 
        @include background_cover();
        padding-top: 188px;
        text-align: center;

        object {
        	max-width: 700px;
        }
        
        p {
        	color: $white;
        }
    }
    
    &.juice {

    }

    &.store {
		background-color: $green;
		color: $green-darker;

		p {
			color: $green-darker;
		}
	}
	
	&.about {
		object{
			width: 100%;
		}
		h2 {
			text-align: center;
		}

		p.user_info {
			text-align: center;
		}
	}

	&.connect {
		background-color: $grey-lightest;

		
	}
}

input {
	padding: 17px 20px;
	border: 0px solid $white;
	color: #333;
	margin: 20px 0px;
	width: 100%;
	@include rounded_corner();
	@include transition(all, 0.3s, ease);
	@include box_sizing;
	background-color: $grey-lightest;
	font-family: $san_serif;
	font-size: $large;

	&.btn {
		color: $white;
		background-color: $green-dark;
		width: 160px;
		height: 65px;
		border: none;
		margin: 0px 0px;
		cursor: pointer;
		padding: 0;
		font-size: $medium;
		@include rounded_corner();
		@include transition(all, 0.3s, ease);
		-webkit-appearance: none;

		&:hover {
			background-color: $green-darker;
		}
	}

	&:focus {
		outline: none;
		background-color: $white;
	}
}




#response {
	margin-left: 15px;
	font-size: $small;
}
