@import "reset";
@import "variables";
@import "mixins";
@import "grid";

body {
	font: {
		family: $san_serif;
		size: 18px;
	}
	line-height: 150%;
	color: #444;
}

@font-face
{
	font-family: picklefont;
	src: url('../font/icomoon.ttf'),
	     url('../font/icomoon.eot'); /* IE9 */
}

h1,
h2,
h3 {
	line-height: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: $serif;
}

h1 {
	font-size: $large;
	text-transform: uppercase;
	letter-spacing: 4px;
	word-spacing: 4px;
	margin-top: 10px;
}

h2 {
	font-size: $medium;
}

h3 {
	font-size: $small;
}

p {
	margin-bottom: 10px;

	&.darkgreen {
		color: #385409;
	}
}

nav {
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: #eee 1px solid;
    padding: 0px 30px;

	ul {
		overflow: auto;
		list-style-type: none;
	}

	li {
		float: left;
		margin-right: 0px;
		padding: 40px 0px;
		width: 20%;
		text-align: center;
		font-family: $serif;
		font-size: 18px;
		
		a {
			text-decoration: none;
			color: #666;
			@include transition();

			&:hover {
				color: #999;
			}
		}

		&.logo {
			text-align: center;
			font-family: "picklefont",serif;
			font-size: 45px;
			color: #84a931;
		}
	}
}

section {
    padding: 80px 30px;
    
    &.hero {
        background: url('../img/hero.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300px;
        padding-top: 100px;
    }
    &.juice {

    }
    &.store {
		background-color: $pickle_green;
	}
	&.connect {
		background-color: #f8f8f8;
	}
}

.txt {
	padding: 17px 20px;
	border: 0px solid #fff;
	color: #333;
	margin: 20px 0px;
	width: 100%;
	@include rounded_corner();
	@include transition(all, 0.3s, ease);
	@include box_sizing;
	opacity: .9;

	font: {
		family: $san_serif;
		size: $large;
	}

	&:focus {
		outline: none;
		opacity: 1;
	}
}

.btn {
	color: #fff;
	background-color: $dark_pickle_green;
	width: 160px;
	height: 65px;
	border: none;
	margin: 0px 0px;
	cursor: pointer;
	padding: 0;
	font-size: 18px;
	@include rounded_corner();
	@include transition(all, 0.3s, ease);

	&:hover {
		background: darken($dark_pickle_green, 5%);
	}
}


#response {
	margin-left: 15px;
	font-size: $small;
}
