@import "reset";
@import "variables";
@import "mixins";
@import "grid";

@font-face {
	font-family: picklefont;
	src: url('../font/icomoon.ttf'),
	     url('../font/icomoon.eot'); /* IE9 */
}

body {
	font-family: $san_serif;
	font-size: 18px;
	line-height: 150%;
	color: $grey;
}

h1,
h2,
h3 {
	line-height: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: $serif;
}

h1 {
	font-size: $large;
	text-transform: uppercase;
	letter-spacing: 4px;
	word-spacing: 4px;
	margin-top: 10px;
}

h2 {
	font-size: $medium;
}

h3 {
	font-size: $small;
}

p {
	margin-bottom: 10px;
	color: $grey-light;
}

nav {
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
	background-color: #fff;
    padding: 0px 30px;
    @include drop_shadow();

	ul {
		overflow: auto;
		list-style-type: none;
	}

	li {
		float: left;
		margin-right: 0px;
		padding: 40px 0px;
		width: 20%;
		text-align: center;
		font-family: $serif;
		font-size: 18px;
		@include transition(all, 0.2s, ease);
		
		a {
			text-decoration: none;
			color: $grey;
			@include transition();

			&:hover {
				color: $grey-light;
			}


		}
		&.active {
			font-weight: 800;
			text-decoration: underline;
			
		}

		&.logo {
			text-align: center;
			font-family: "picklefont",serif;
			font-size: 45px;
			color: $green;
		}
	}
}

footer {
	padding: 80px 30px;
	text-align: center;
	a {
		text-align: center;
		font-family: "picklefont",serif;
		font-size: 45px;
		color: $grey-light;
		text-decoration: none;
		@include transition();

		&:hover {
			color: $grey-lighter;
		}

	}

	.social {
		word-spacing: 20px;
	}

	.copyright {
		color: $grey-lighter;
	}
}

section {
    padding: 80px 30px;
    
    &.hero {
        background: url('../img/hero.jpg') no-repeat center center; 
        @include background_cover();
        padding-top: 188px;
        text-align: center;

        img{
        	max-width: 600px
        }
        .tagline {
        	color: $white;
        }
        .social {
        	
        }
    }
    &.juice {

    }
    &.store {
		background-color: $green;
		color: $green-darker;

		p {
			color: $green-darker;
		}
	}
	
	&.about {
		h2 {
			text-align: center;
		}

		p.user_info {
			text-align: center;
		}
	}

	&.connect {
		background-color: $grey-lightest;

		iframe{
			width: 100%;
		}
	}
}

.txt {
	padding: 17px 20px;
	border: 0px solid #fff;
	color: #333;
	margin: 20px 0px;
	width: 100%;
	@include rounded_corner();
	@include transition(all, 0.3s, ease);
	@include box_sizing;
	opacity: .9;

	font: {
		family: $san_serif;
		size: $large;
	}

	&:focus {
		outline: none;
		opacity: 1;
	}
}

.btn {
	color: #fff;
	background-color: $green-dark;
	width: 160px;
	height: 65px;
	border: none;
	margin: 0px 0px;
	cursor: pointer;
	padding: 0;
	font-size: 18px;
	@include rounded_corner();
	@include transition(all, 0.3s, ease);

	&:hover {
		background-color: $green-darker;
	}
}


#response {
	margin-left: 15px;
	font-size: $small;
}
