/* --- CSS Reset --- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0px;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

@media (min-width: 1190px) {
  .container {
    width: 1190px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1; }
    .container:before, .container:after {
      display: table;
      line-height: 0;
      content: ""; }
    .container:after {
      clear: both; }

  [class*="span"] {
    float: left;
    margin-left: 30px;
    margin-bottom: 17px; }

  .span1 {
    width: 260px; }

  .span2 {
    width: 550px; }

  .span3 {
    width: 610px; }

  .span4 {
    width: 1130px; }

  .row {
    float: left;
    margin-bottom: 17px; } }
@media (max-width: 768px) {
  .container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1; }
    .container:before, .container:after {
      display: table;
      line-height: 0;
      content: ""; }
    .container:after {
      clear: both; }

  [class*="span"] {
    float: left;
    margin-left: 5.55555%;
    margin-bottom: 17px; }

  .span1 {
    /* width: 172px; */
    width: 25%; }

  .span2 {
    /* width: 364px; */
    width: 50%; }

  .span3 {
    /* width: 556px; */
    width: 75%; }

  .span4 {
    /* width: 748px; */
    width: 100%; }

  .row {
    float: left;
    margin-bottom: 17px; }

  img {
    width: 80%; } }
@media (max-width: 480px) {
  /*
  Fluid Widths
  */
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1; }
    .container:before, .container:after {
      display: table;
      line-height: 0;
      content: ""; }
    .container:after {
      clear: both; }

  [class*="span"] {
    float: left;
    margin-left: 5.55555%;
    margin-bottom: 17px; }

  .span1 {
    width: 100%; }

  .span2 {
    width: 100%; }

  .span3 {
    width: 100%; }

  .span4 {
    width: 100%; }

  .row {
    float: left;
    margin-bottom: 17px; }

  img {
    width: 80%; } }
body {
  font-family: "source-sans-pro",sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #444; }

@font-face {
  font-family: picklefont;
  src: url("../font/icomoon.ttf"), url("../font/icomoon.eot");
  /* IE9 */ }

h1,
h2,
h3 {
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "adelle",serif; }

h1 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-top: 10px; }

h2 {
  font-size: 19px; }

h3 {
  font-size: 16px; }

p {
  margin-bottom: 10px; }

nav {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: #eee 1px solid; }
  nav ul {
    overflow: auto;
    list-style-type: none; }
  nav li {
    float: left;
    margin-right: 0px;
    padding: 40px 0px;
    width: 20%;
    text-align: center;
    font-family: "adelle",serif;
    font-size: 18px; }
    nav li a {
      text-decoration: none;
      color: #666;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      nav li a:hover {
        color: #999; }
    nav li.logo {
      text-align: center;
      font-family: "picklefont",serif;
      font-size: 45px;
      color: #84a931; }

section {
  padding: 80px 0px; }
  section.hero {
    background: url("../img/hero.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    padding-top: 100px; }
  section.store {
    background-color: #84a931; }
  section.connect {
    background-color: #f8f8f8; }

.txt {
  padding: 20px;
  border: 0px solid #fff;
  color: #333;
  margin: 20px 0px;
  font-family: "source-sans-pro",sans-serif;
  font-size: 22px;
  height: 25px;
  width: 450px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: .9; }
  .txt:focus {
    outline: none;
    opacity: 1; }

.btn {
  color: #fff;
  background-color: #44700a;
  width: 160px;
  height: 65px;
  border: none;
  margin: 0px 0px;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn:hover {
    background: #385409; }

#response {
  margin-left: 15px;
  font-size: 14px; }

.darkgreen {
  color: #385409; }
